/*
Some CSS and images from http://www.brainjar.com/css/cards/default.asp
*/
body {
	background: #277714;
}

.card {
  background-image: url("http://www.brainjar.com/css/cards/graphics/cardback.gif");  
  border: 4px solid white;
  color: #000000;
  font-size: 20pt;
  position: absolute;
  width:  3.75em;
  height: 5.00em;
  box-shadow: 0 0 1px 1px rgba(0,0,0,50%);
  border-radius: 6px;
  cursor: pointer;
  transition: all 1s
}

.spades, .clubs {
	color: black;
}

.hearts, .diams {
	color: red;
}

.card .front {
  background-color: #ffffff;
  position: absolute;
  width: 100%;
  height: 100%;
  /*border-radius: 8px;*/
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

.down>.front {
		visibility: hidden;
}

.spotA1 { position: absolute; left: 0.60em; top: 0.5em; }
.spotA2 { position: absolute; left: 0.60em; top: 1.5em; }
.spotA3 { position: absolute; left: 0.60em; top: 2.0em; }
.spotA4 { position: absolute; left: 0.60em; top: 2.5em; }
.spotA5 { position: absolute; left: 0.60em; top: 3.5em; }
.spotB1 { position: absolute; left: 1.55em; top: 0.5em; }
.spotB2 { position: absolute; left: 1.55em; top: 1.0em; }
.spotB3 { position: absolute; left: 1.55em; top: 2.0em; }
.spotB4 { position: absolute; left: 1.55em; top: 3.0em; }
.spotB5 { position: absolute; left: 1.55em; top: 3.5em; }
.spotC1 { position: absolute; left: 2.50em; top: 0.5em; }
.spotC2 { position: absolute; left: 2.50em; top: 1.5em; }
.spotC3 { position: absolute; left: 2.50em; top: 2.0em; }
.spotC4 { position: absolute; left: 2.50em; top: 2.5em; }
.spotC5 { position: absolute; left: 2.50em; top: 3.5em; }

.spotA4, .spotA5, .spotB4, .spotB5, .spotC4, .spotC5 {
	transform: rotate(180deg);
}

.ace {
  font-size: 300%;
  position: absolute;
  left: 0.325em;
  top:  0.250em;
}

.index, .flipindex {
  font-size: 50%;
  font-weight: bold;
  text-align: center;
  position: absolute;  
  line-height: 70%;
}

.index {  
  left: 0.25em;
  top:  0.25em;  
}

.flipindex {  
  right: 0.25em;
  bottom:  0.25em;
  transform: rotate(180deg);
}

.face {
  border: 1px solid #000000;
  position: absolute;
  left: 0.50em;
  top:  0.45em;
  width:  2.6em;
  height: 4.0em;
  user-drag: none;
  -moz-user-select: none; -webkit-user-drag: none;
  -moz-user-drag: none;
}

.deck, .pile, .hand, .table {
	list-style-type: none;
	padding: 0;
}

.pile {
	float: left;
	font-size: 20pt;
	width:  3.75em;		
}
/*
.deck li .card, .table li .card {
	box-shadow: none;
}

.deck li:first-child .card {
	box-shadow: .2em .2em .5em #333;
}
*/
.deck li, .table li {
	display: inline-block;	
	position: relative;
}


ul.deck li:nth-last-child(6)  { left: 0;    bottom: 0; }
ul.deck li:nth-last-child(5)  { left: 2px;  bottom: 1px; }
ul.deck li:nth-last-child(4)  { left: 4px;  bottom: 2px; }
ul.deck li:nth-last-child(3)  { left: 6px;  bottom: 3px; }
ul.deck li:nth-last-child(2)  { left: 8px;  bottom: 4px; }
ul.deck li:nth-last-child(1)    { left: 10px; bottom: 5px; }

.pile li {
	height: 1.5em;
}

.pile li.down {
	height: 4px;
}

.foundation {
	font-size: 20pt;
	width:  3.75em;
  height: 5.00em;
	border: 1px dotted #cfcfcf;
	float: left;
	margin-right: 1em;
	padding: 0;
}

#piles {
	clear: both;
}

#playingArea {
		float: left;
		font-size: 20pt;
		width:  6em;		
		margin-right: 1em;
		height: 5.00em;
}

#top {
	font-size: 20pt;
	min-height: 6em;
}

ul.table li:nth-last-child(3n)  { left: 0;  bottom: 27px; transition: all 1s}
ul.table li:nth-last-child(3n+2) { left: 1em; bottom: 27px;  transition: all 1s}
ul.table li:nth-last-child(3n+1)  { left: 2em;  bottom: 27px;    transition: all 1s}
/*
ul.table li:nth-last-child(3) .card, 
ul.table li:nth-last-child(2) .card,
ul.table li:nth-last-child(1) .card {
	box-shadow: .2em .2em .5em #333;	
}

*/
