<!doctype html>
<html ng-app="app">

<head>
    <meta charset="UTF-8">
    <script src="lib/jquery/dist/jquery.min.js"></script>
    <script src="lib/angular/angular.min.js"></script>
    <script src="app.js"></script>
    <script src="lib/draganddrop.js"></script>
    <link rel="stylesheet" type="text/css" href="cards.css" media="screen" />
</head>

<body ng-controller="GameCtrl">
    <div id="top">
        <div id="foundations">
            <ul ng-repeat="foundation in foundations" class="foundation" ng-controller="FoundationCtrl" ui-on-Drop="onDrop($event, $data)" drop-validate="dropValidate($data)" drag-hover-class="droppable" drag-enter-class="hint">
                <li ng-repeat="card in cards" ng-class="{down: !card.up}">
                    <card ng-if="$last" rank="{{card.rank}}" suit="{{card.suit}}" up="{{card.up}}" ui-draggable="{{$last}}" drag="card" on-drop-success="pop()"></card>
                    <card ng-if="!$last" rank="{{card.rank}}" suit="{{card.suit}}" up="{{card.up}}"></card>
                </li>
            </ul>
        </div>


        <ul class="table" ng-controller="TableCtrl">
            <li ng-repeat="card in cards" ng-class="{down: !card.up}">
                <card rank="{{card.rank}}" suit="{{card.suit}}" up="{{card.up}}" ui-draggable="{{$last}}" drag="card" on-drop-success="pop()"></card>
            </li>
        </ul>

        <ul class="deck" ng-controller="DeckCtrl" ng-click="draw()">
            <li ng-repeat="card in cards" ng-class="{down: !card.up}">
                <card rank="{{card.rank}}" suit="{{card.suit}}" up="{{card.up}}"></card>
            </li>
        </ul>

    </div>

    <div id="piles">
        <ul ng-repeat="pile in piles" class="pile" ng-controller="PileCtrl" ui-on-Drop="onDrop($event, $data)" drop-validate="dropValidate($data)" drag-hover-class="droppable" drag-enter-class="hint">
            <li ng-repeat="card in cards" ng-class="{down: !card.up}">
                <card ng-if="!card.up && $last" rank="{{card.rank}}" suit="{{card.suit}}" up="{{card.up}}" ng-click="card.flip()"></card>
                <card ng-if="!card.up && !$last" rank="{{card.rank}}" suit="{{card.suit}}" up="{{card.up}}"></card>
                <card ng-if="card.up" rank="{{card.rank}}" suit="{{card.suit}}" up="{{card.up}}" ui-draggable="{{$last}}" drag="card" on-drop-success="pop()"></card>
            </li>
        </ul>
    </div>
</body>

</html>
